* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

header {
    background-color: rgb(184, 227, 184);
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
    line-height: 7em;
}

nav {
    background-color: #f2f2f2; 
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 2em;
    list-style-type: none;
    padding: 1em 0;
}

nav a {
    font-size: 1em;
    color: rgb(104, 189, 104);
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(215, 212, 212);
}

main {
    background-color: #f2f2f2;
    padding: 20px 10%; 
}

.product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product {
    margin: 0 1em 20px; 
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 280px;
    text-align: center;
    padding: 20px;
}

.product img {
    width: 100%;           
    height: auto;            
    border-radius: 8px 8px 0 0;
}


.product-list article:nth-child(2) img {
    height: 45%;
}


article.product h2 {
    margin: 1em 0 0.5em; 
}

article.product p {
    margin: 0.5em 0; 
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
    background-color: rgb(4, 59, 4);
    color: white;
}


@media (min-width: 768px) {
    header h1 {
        font-size: 2.5em;
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
    }

    nav ul li {
        margin: 0 15px;
    }

    main {
        padding: 40px 20px;
    }

    .product-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
    }

    main h2 {
        font-size: 2em;
    }
}


